    <script type="text/javascript" src="/javascripts/main.js"></script>
</div>
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>Made by <a href="https://jacobsiler.com">Jacob Siler</a></p>
  </div>
</div>
</body>
</html>
