html {
  min-height: 100%;
  position: relative;
}

.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}
.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
}
.navbar-nav li a:hover {
  color: #1abc9c !important;
}

.footer-padding {
  padding-bottom: 60px;
}

.feature-date {
  border: solid 2px lightgrey;
  border-radius: 10px;
  float: left;
}

.feature-date--delete {
  position: absolute;
  font-size: 5rem;
  text-decoration: none;
  transform: translate(15px, -10px);
}

.post--delete {
  position: absolute;
  font-size: 5rem;
  text-decoration: none;
  transform: translate(15px, -2px);
}
/* Layout style overrides */

/* styling the delete X's */
.delete {
  position: absolute;
  font-size: 5rem;
  text-decoration: none;
  transform: translate(15px, -10px);
}

.delete,
a:focus {
  text-decoration: none;
}

.delete:hover,
a:hover {
  color: red;
  text-decoration: none;
}

/* Styling the footer */
.footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #1abc9c;
}

.footer p {
  margin-top: 25px;
  font-size: 12px;
  color: #fff;
}

.hover_img a {
  position: relative;
}
.hover_img a span {
  position: absolute;
  display: none;
  z-index: 99;
}
.hover_img a:hover span {
  display: block;
}
